.ImageList-item:hover img {
    opacity: 0.8;
  }
  .ImageList-item {
    position: relative;
  }
  
  .ImageList-item:hover .overlay {
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
    

  .sign-up-button {
    margin-top: -200px;
  }

  .rounded-rectangle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .rounded-rectangle-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 1;
  }
  
  .rounded-rectangle-text p {
    font-size: 20px;
    font-weight: bold;
    margin-top: -60px;
  }
  

  