@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Rubik:wght@500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

.ImageList-item:hover img {
    opacity: 0.8;
  }
  .ImageList-item {
    position: relative;
  }
  
  .ImageList-item:hover .overlay {
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
    

  .rounded-rectangle {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .rounded-rectangle-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 1;
    width: 600px;
    height: 100px;
  }
  

  
  .rounded-rectangle-text h1 {
    font-size: 70px;
    font-weight: bold;
    margin-top: -20px;
    font-family: 'Lobster', cursive;
  }
  
  .rounded-rectangle-text p {
    font-size: 30px;
    font-weight: bold;
    margin-top: -50px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }
  
  .rounded-rectangle-text span {
    font-size: 24px;
    font-weight: bold;
    margin-top: -90px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
  }
  