.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  display: inline-block;
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .buttons-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (min-width: 601px) {
  .buttons-container {
    margin-right: 2rem;
  }
}

.addRecipeBtn {
  margin-top: 2rem !important;
  margin-left: 0.3rem !important;
  margin-bottom: 2rem !important;
}

@media (max-width: 600px) {
  .addRecipeBtn {
    margin-top: 2rem;
  }
}

@media (min-width: 601px) {
  .addRecipeBtn {
    margin-top: 3rem;
  }
}

.createdViewBtn,
.savedViewBtn,
.addRecipeBtn,
.deleteBtn,
.editBtn,
.postCommentBtn,
.saveBtn,
.saveEdBtn {
  border-radius: 25px !important;
}

.createdViewBtn {
  margin-right: 45px !important;
}

.form-container {
  width: 60%;
  margin-top: 40px;
  border: 1px solid #E0E0E0;
  display: flex;
  flex-direction: column;
  padding: 27px;
  justify-content: center;
  align-items: center;
}

.modal-textfield {
  margin-right: 1rem;
  margin-left: 4rem;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 2.5rem;
  margin-left: 6rem;
}

.delete-hovered {
  color: red;
  text-decoration: underline red;
  cursor: pointer;
}

.edit-hovered {
  color: #1875d1;
  text-decoration: underline #1875d1;
  cursor: pointer;
}

.active {
  font-weight: bold !important;
  text-decoration: underline !important;
  text-underline-position: under !important;
  text-decoration-thickness: 3px !important;
}

.ImageList-item:hover .saveBtn {
  display: block;
}

.saveBtn,
.saveEdBtn {
  display: none;
}

.saveEdBtn {
  display: block;
}

.saveRecipeToggleBtnDisplay {
  position: absolute;
  top: 10px;
  right: 15px;
}

p {
  font-style: italic;
}

.userProfileImg {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.userProfileImgContainer {
  position: relative;
  cursor: pointer;
}

.userProfileImg {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0;
}

.cameraIconContainer {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.cameraIcon {
  width: 40px;
  height: 40px;
  padding: 8px;
  color: white;
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  right: -10px;
  cursor: pointer;
}

.image-modal {
  background-color: white;
  width: 600px;
  max-width: 80%;
  margin: auto;
  margin-top: 10%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
