.child-details-container {

    border: 1px solid #E0E0E0;
    width: 800px;
    padding: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;


  }



.parent-details-container {
    display: flex;
  justify-content: center;
  align-items: center;
}