@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Rubik:wght@500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

.navtitle {
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  color: black;
  padding-left: 10px;
  margin: 0;
  margin-right: 230px;
}


.appbar {
  background-color: white;
}

.avatar {
  width: 30px;
  height: 30px;
  /* margin-right: 10px; */
  margin: 0;
  }

  .navlink {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    border: none;
    cursor: pointer;
    outline: 0;
  }
  
  .navlink:hover {
    background-color: #f0f3f4;
  }
  
  
  .searchBox {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 600px;
    margin-right: 10px;
    margin-top: 14.5px;
    width: 300px;
    height: 40px;
    border-radius: 25px;
  }
  
  .searchIcon {
    color: gray;
  }
  
  .searchInput {
    margin-left: 1px;
    flex: 5;
  }
  